.iron-frames-header {
  text-align: center;
  margin-top: 70px;
}

.iron-frames-header h1 {
  font-size: 80px;
  font-weight: bold;
}

.iron-frames-header h3 {
  font-size: 24px;
}

.iron-frames-settings > * {
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.iron-frames-settings > button {
  border: 2px black solid;
  background-color: #ffffff;
  width: 13%;
}

.iron-frames-settings > button:hover {
  background-color: #000000;
  color: white;
  transition: all 0.3s ease;
}

.iron-frames-settings > select {
  background-color: #000000;
  border: 0px;
  color: white;
  width: 70%;
  border-right: 1vw solid transparent;
  padding-left: 2.5%;
}

.inputs > div {
  padding: 40px 30px;
  border-radius: 40px;
  background-color: #000000;
}

.input-block {
  height: 70px;
  width: 70px;
}

.iron-frames-footer {
  text-align: center;
  margin-top: 70px;
}
